# Loony Kernel

on early-boot
	setprop vendor.gpu.available_frequencies "550000000 500000000 465000000 400000000 240000000"
	# getDiskStats is not supported. Stop log spam.
	setprop ro.storaged.event.interval "99999"

on late-fs
	# boot time fs tune
	write /sys/block/mmcblk0/queue/iostats 0
	write /sys/block/mmcblk0/queue/iosched/slice_idle 0
	write /sys/block/mmcblk0/queue/read_ahead_kb 2048
	write /sys/block/mmcblk0/queue/nr_requests 256

service lk-post-boot /system/vendor/bin/init.lk.sh
	class late_start
	user root
	group root system wakelock graphics
	disabled
	oneshot

on property:sys.boot_completed=1
	start lk-post-boot
